.main {
    width: 100%;
}

.banner {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jabara {
    animation: move 3000ms ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    z-index: 1;
    position: relative;
    animation-delay: 1.6s;
    width: 250px;
    height: calc(250px * 0.585483871);
}

@keyframes move {
    from {
        transform: translate(0) rotate(0deg);
    }

    to {
        transform: translateX(950px) rotate(360deg);
    }
}

#uncover-text {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-right: 550px;

}

@keyframes uncover {
    to {
        opacity: 100%;
    }
}

#uncover-text p {
    animation-delay: 2s;
    width: fit-content;
    margin: 0;
    font-size: 8rem;
    opacity: 0%;
    animation-name: uncover;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.animation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-wrapper {
    position: relative;
    /* Height is N times the viewport height, where N is the number of sections */
    /* This gives us space to scroll through the sections */
    height: 352vh;
}

/* The element that sticks to the top while we scroll through the wrapper */
.sticky-content {
    position: sticky;
    top: 12vh;
    height: 88vh;
    width: 100%;
    overflow: hidden;
}

/* Styling for the individual sections that will blink */
.blink-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* Animation properties */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

/* The active class makes the section visible */
.blink-section.active {
    opacity: 1;
    visibility: visible;
}

#section-1 {
    background-color: oklch(70.4% 0.191 22.216);
}

#section-2 {
    background-color: oklch(87.1% 0.15 154.449);
}

#section-3 {
    background-color: oklch(74.6% 0.16 232.661);
}

#section-4 {
    background-color: oklch(70.2% 0.183 293.541);
}
